<div class="container-fluid">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <div class="form-group row">
      <div id="sidebar-calendar" class="col-md-12">
        <div class="datepicker-inline" data-date="12/25/2016"></div>
        <input type="hidden" id="hdn">
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
    <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="panel panel-default">
            <div class="panel-body" style="font-size: 32pt; text-align: center;">
              <%= Event.count_planned%>
            </div>
            <div class="panel-footer" style="text-align: center">
              <%= link_to "Planned Events", planned_events_path %>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="panel panel-default">
            <div class="panel-body" style="font-size: 32pt; text-align: center;">
              <%= Event.count_unplanned %>
            </div>
            <div class="panel-footer" style="text-align: center">
              <%= link_to "Unplanned Events", unplanned_events_path %>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="panel panel-default">
            <div class="panel-body" style="font-size: 32pt; text-align: center;">
              <%= Task.active_tasks.count %>
            </div>
            <div class="panel-footer" style="text-align: center">
              <%= link_to "Active Tasks", tasks_path(:tasks => Task.active_tasks, :title => "Active Tasks" ) %>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body"> 
        <% @tasks = Task.user_tasks(current_user) %>
        <% @tasks_title = "My Tasks" %>
        <%= render 'tasks/viewer' %>
      </div>
    </div>
    </div>
  </div>
</div>
