<%= simple_form_for(people_list) do |f| %>
  <% if people_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(people_list.errors.count, "error") %> prohibited this people_list from being saved:</h2>

      <ul>
      <% people_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.input :name %>
    <%= f.input :public %>
    <%= f.button :submit %>
<% end %>
