<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Public</th>
    </tr>
  </thead>

  <tbody>
    <% people_lists.each do |people_list| %>
      <tr>
        <td><%= link_to people_list.name, people_list_path(people_list) %></td>
        <td><%= people_list.public %></td>
      </tr>
    <% end %>
  </tbody>
</table>
