<div class="container">
  <p></p>
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Editing People List
      </div>
      <div class="panel-body">
        <%= render 'form', people_list: @people_list %>
        <%= link_to 'Cancel', people_lists_path %>
      </div>
    </div>
  </div>
</div>
