<div class="col-sm-2">
  <div class="row">
    <div class="list-group">
    </div>
  </div>
</div>

<div class="col-md-10">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        People Lists
        <span class="badge"><%= @people_lists.count %> </span>
        <span style="float: right">
            <a href="#peopleListTable" class="label label-default" data-toggle="tab">
              <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            </a>
            <a href="#peopleListsCards" class="label label-default" data-toggle="tab">
              <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
            </a>
          <%= link_to 'New List', new_people_list_path, class: "label label-default" %> 
        </span>
      </div>
      <div class="tab-content">
        <div id="peopleListsCards" class="tab-pane active">
          <%= render 'cards', people_lists: @people_lists %>
        </div>
        <div id="peopleListsTable" class="tab-pane">
          <%= render 'table', people_lists: @people_lists %>
        </div>
      </div>
    </div>
  </div>
</div>
