<div class="col-sm-2">
  <div class="row">
    <div class="list-group-title">
      <span class="text-uppercase h5">People Lists</span>
      <span class="pull-right">
        <%= link_to 'New', new_people_list_path, class: "label label-default" %> 
      </span>
    </div>
    <%= render 'list', people_lists: PeopleList.all %>
  </div>
</div>

<div class="col-md-10">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading entity-heading">
        <span class="h1" style="margin-right:10px;"><%= @people_list.name %></span>
          <%= link_to 'Edit', edit_people_list_path(@people_list), class: "label label-default" %> 
          <%= link_to 'Delete', @people_list, method: :delete, data: { confirm: 'Are you sure?' }, class: "label label-default" %>
        <p> <%= @people_list.public ? "Public" : "Private"%> </p>
      </div>
    </div>
  </div>
</div>
