<div class="col-md-12 panel panel-default">
  <div class="panel-body">

<% people.each do |person| %>
  <div class="col-md-4">
    <div class="panel panel-default item-card">
      <div class="panel-heading">
        <span class="h4"><%= link_to person.name, person_path(person) %></span>
        <% if !person.user.nil? %>
          <span class="pull-right small text-center">
            <span class="h2">
              <%= Task.user_tasks(person.user).count %>
            </span><br />
            <%= link_to "task(s)", user_tasks_path(user: person.user) %>
          </span>
        <% end %>
        <h6><%= person.mobile_phone %>
      </div>
      <div class="panel-body item-card-body">
        <%= person.email %> 
      </div>
    </div>
  </div>
<% end %>

  </div>
</div>
