<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Mobile phone</th>
    </tr>
  </thead>

  <tbody>
    <% people.each do |person| %>
      <tr>
        <td><%= link_to person.name, person_path(person) %></td>
        <td><%= person.email %></td>
        <td><%= person.mobile_phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>
