<div class="col-sm-2">
  <div class="row">
    <div class="list-group">
      <%= link_to "Manage Users", users_path, method: :get, class: "list-group-item" %>
    </div>
  </div>
</div>

<div class="col-md-10">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        People
        <span class="badge"><%= @people.count %> </span>
        <span style="float: right">
            <a href="#peopleTable" class="label label-default" data-toggle="tab">
              <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            </a>
            <a href="#peopleCards" class="label label-default" data-toggle="tab">
              <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
            </a>
          <%= link_to 'New Person', new_person_path, class: "label label-default" %> 
        </span>
      </div>
      <div class="tab-content">
        <div id="peopleCards" class="tab-pane active">
          <%= render 'cards', people: @people %>
        </div>
        <div id="peopleTable" class="tab-pane">
          <%= render 'table', people: @people %>
        </div>
      </div>
    </div>
  </div>
</div>
