<div class="col-sm-2">
  <div class="row">
    <div class="list-group-title">
      <span class="text-uppercase h5">People</span>
      <span class="pull-right">
        <%= link_to 'New', new_person_path, class: "label label-default" %> 
      </span>
    </div>
    <%= render 'list', people: Person.all %>
  </div>
</div>

<div class="col-md-10">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading entity-heading">
        <span class="h1" style="margin-right:10px;"><%= @person.name %></span>
        <%= link_to 'Edit', edit_person_path(@person), class: "label label-default" %> 
          <%= link_to 'Delete', @person, method: :delete, data: { confirm: 'Are you sure?' }, class: "label label-default" %>
        <p><%= @person.email %></p>
        <p><%= @person.mobile_phone %></p>
      </div>
      <div class="panel-body">
        <% @tasks = @person.active_tasks %>
        <% @tasks_title = @person.name + " Active Tasks" %>
        <%= render 'tasks/viewer' %>
      </div>
    </div>
  </div>
</div>
