<div class="col-md-12 panel panel-default">
  <div class="panel-body">

<% tasks.each do |task| %>
  <div class="col-md-4">
    <div class="panel panel-default item-card">
      <div class="panel-heading">
        <span class="h4"><%= link_to task.name, task_path(task) %></span>
        <% if task.start_date %>
        <span class="pull-right small text-center">
          <span class="h2">
            <%= task.days_to_start %>
          </span>
          <br /> days
        </span>
        <h6><%= task.start_date.strftime("%A, %h %d %Y") %></h6>
        <% end %>
      </div>
      <div class="panel-body item-card-body">
        <div>
          Owner: <%= link_to task.owner.name, person_path(task.owner.person) %>
        </div>
        <div>
          Audience: <%= link_to task.audience.name, audience_path(task.audience) %>
        </div>
        <div>
          Destination: <%= link_to task.destination.name, destination_path(task.destination) %>
        </div>
      </div>
    </div>
  </div>
<% end %>

  </div>
</div>
