<%= simple_form_for(task) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.association :event, collection: Event.active_events %>
    <%= f.input :name %>
    <%= f.association :audience%>
    <%= f.association :destination%>
    <%= f.association :owner, label_method: :name %>
    <%= f.label "Start Date" %>
    <%= f.text_field :start_date, :placeholder => "Start Date", :class => "form-control datepicker", :data => { :provide => "datepicker"} %>
    <%= f.label "End Date" %>
    <%= f.text_field :end_date, :placeholder => "End Date", :class => "form-control datepicker", :data => { :provide => "datepicker"} %>
    <p></p>
    <%= f.button :submit %>
<% end %>
