<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start</th>
      <th>End</th>
      <th>Event</th>
      <th>Audience</th>
      <th>Destination</th>
      <th>Owner</th>
    </tr>
  </thead>

  <tbody>
    <% tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, task_path(task) %></td>
        <td><%= task.start_date %></td>
        <td><%= task.end_date %></td>
        <td><%= link_to task.event.name, event_path(task.event) %></td>
        <td><%= task.audience.name %></td>
        <td><%= task.destination.name %></td>
        <td><%= link_to task.owner.person.name, person_path(task.owner.person) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
