<div class="panel panel-default">
  <div class="panel-heading">
    <%= @tasks_title %>
    <span class="badge"><%= @tasks.count %> </span>
    <span style="float: right">
      <a href="#taskTable" class="label label-default" data-toggle="tab">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
      </a>
      <a href="#taskCard" class="label label-default" data-toggle="tab">
        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
      </a>
      <%= link_to new_task_path, class: "label label-default" do %>
        <span class="glyphicon glyphicon-plus"></span>
        New Task
      <% end %>
    </span>
  </div>
  <div class="tab-content">
    <div id="taskCard" class="tab-pane active">
      <%= render 'tasks/cards', tasks: @tasks %>
    </div>
    <div id="taskTable" class="tab-pane">
      <%= render 'tasks/table', tasks: @tasks %>
    </div>
  </div>
</div>
