<div class="container">
  <p></p>
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Editing Task
      </div>
      <div class="panel-body">
        <%= render 'form', task: @task %>
        <%= link_to 'Cancel', tasks_path %>
      </div>
    </div>
  </div>
</div>
