<div class="col-sm-2">
  <div class="row">
    <div class="list-group">
      <div class="list-group-title">Related Items</div>
      <%= link_to "Destinations", destinations_path, class: "list-group-item" %>
      <%= link_to "Audiences", audiences_path, class: "list-group-item" %>
    </div>
    <div class="list-group">
      <div class="list-group-title">Filters</div>
      <%= link_to "My Tasks", user_tasks_path(user: current_user), class: "list-group-item" %>
      <%= link_to "Active Tasks", active_tasks_path, class: "list-group-item" %>
      <%= link_to "Past Tasks", past_tasks_path, class: "list-group-item" %>
      <%= link_to "All Tasks", tasks_path, class: "list-group-item" %>
    </div>
  </div>
</div>

<div class="col-md-10">
  <div class="row">
    <%= render 'viewer', tasks: @tasks, tasks_title: @tasks_title %>
  </div>
</div>
