<div class="col-sm-2">
  <div class="row">
    <div class="list-group-title">
      <span class="text-uppercase h5">Tasks</span>
      <span class="pull-right">
        <%= link_to 'New', new_task_path, class: "label label-default" %> 
      </span>
    </div>
    <%= render 'list', tasks: Task.all %>
  </div>
</div>

<div class="col-md-10">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading entity-heading">
        <span class="h1" style="margin-right:10px;"><%= @task.name %></span>
          <%= link_to 'Edit', edit_task_path(@task), class: "label label-default" %> 
          <%= link_to 'Delete', @task, method: :delete, data: { confirm: 'Are you sure?' }, class: "label label-default" %>
          <p> <%= link_to @task.event.name, event_path(@task.event)%> </p>
      </div>
      <div class="panel-body">
        <table class="table">
          <tr>
            <th>Publish</th>
            <th>Stop</th>
            <th>Owner</th>
            <th>Destination</th>
            <th>Audience</th>
          </tr>
          <tr>
            <td><%= @task.start_date %></td>
            <td><%= @task.end_date %></td>
            <td><%= link_to @task.owner.name, user_path(@task.owner) %></td>
            <td><%= link_to @task.destination.name, destination_path(@task.destination) %></td>
            <td><%= link_to @task.audience.name, audience_path(@task.audience) %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
