<div class="col-md-12 panel panel-default">
  <div class="panel-body">

<% users.each do |user| %>
  <div class="col-md-4">
    <div class="panel panel-default item-card">
      <div class="panel-heading">
        <span class="h4"><%= link_to user.name, user_path(user) %></span>
        <span class="pull-right small text-center">
          <span class="h2">
            <%= Task.user_tasks(user).count %>
          </span><br />
            <%= link_to "task(s)", user_tasks_path(user: user) %>
        </span>
        <h6><%= user.user_name %></h6>
      </div>
      <div class="panel-body item-card-body">
        <%= user.person.email %>
        <br />
        <%= user.person.mobile_phone %>
      </div>
    </div>
  </div>
<% end %>

  </div>
</div>
