<table class="table table-hover">
  <thead>
    <tr>
      <th>User Name</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= link_to user.user_name, user_path(user) %></td>
        <td><%= link_to user.name, person_path(user.person) %></td>
        <td><%= user.person.email %>
        <td><%= user.person.mobile_phone %>
      </tr>
    <% end %>
  </tbody>
</table>
