<div class="col-sm-2">
  <div class="row">
    <div class="list-group">
    </div>
  </div>
</div>

<div class="col-md-10">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        Users
        <span class="badge"><%= @users.count %> </span>
        <span style="float: right">
            <a href="#usersTable" class="label label-default" data-toggle="tab">
              <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            </a>
            <a href="#usersCards" class="label label-default" data-toggle="tab">
              <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
            </a>
          <%= link_to 'New User', new_user_path, class: "label label-default" %> 
        </span>
      </div>
      <div class="tab-content">
        <div id="usersCards" class="tab-pane active">
          <%= render 'cards', users: @users %>
        </div>
        <div id="usersTable" class="tab-pane">
          <%= render 'table', users: @users %>
        </div>
      </div>
    </div>
  </div>
</div>
