<div class="container">
  <p></p>
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        New User
      </div>
      <div class="panel-body">
        <%= render 'form', user: @user %>
        <%= link_to 'Cancel', @user %>
      </div>
    </div>
  </div>
</div>
