<div class="col-sm-2">
  <div class="row">
    <div class="list-group-title">
      <span class="text-uppercase h5">Users</span>
      <span class="pull-right">
        <%= link_to 'New', new_user_path, class: "label label-default" %> 
      </span>
    </div>
    <%= render 'list', users: User.all %>
  </div>
</div>

</div>
<div class="col-md-10">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading entity-heading">
        <span class="h1" style="margin-right:10px;"><%= @user.person.name %></span>
          <%= link_to 'Edit', edit_user_path(@user), class: "label label-default" %> 
          <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "label label-default" %>
        <p> <%= @user.user_name%> </p>
      </div>
      <div class="panel-body">
        <% @tasks = Task.user_tasks(@user) %>
        <% @tasks_title = @user.person.name + " Tasks" %>
        <%= render 'tasks/viewer' %>
      </div>
    </div>
  </div>
</div>
