<div class="col-md-12 panel panel-default">
  <div class="panel-body">

<% audiences.each do |audience| %>
  <div class="col-md-4">
    <div class="panel panel-default item-card">
      <div class="panel-heading">
        <span class="h4"><%= link_to audience.name, audience_path(audience) %></span>
        <span class="pull-right small text-center">
          <span class="h2"><%= audience.active_tasks.count %></span><br />
          <%= link_to "tasks", audience_tasks_path(audience: audience) %>
        </span>
      </div>
      <div class="panel-body item-card-body">
        <%= audience.description %>
      </div>
    </div>
  </div>
<% end %>

  </div>
</div>
