<%= simple_form_for(audience) do |f| %>
  <% if audience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(audience.errors.count, "error") %> prohibited this audience from being saved:</h2>

      <ul>
      <% audience.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.button :submit %>
<% end %>
