<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% audiences.each do |audience| %>
      <tr>
        <td><%= link_to audience.name, audience %></td>
        <td><%= audience.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
