<div class="container">
  <p></p>
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Editing Audience
      </div>
      <div class="panel-body">
        <%= render 'form', audience: @audience %>
        <%= link_to 'Cancel', @audience %>
      </div>
    </div>
  </div>
</div>

