<div class="col-sm-2">
  <div class="row">
    <div class="list-group">
    </div>
  </div>
</div>

<div class="col-md-10">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        Audiences
        <span class="badge"><%= @audiences.count %> </span>
        <span style="float: right">
            <a href="#audienceCards" class="label label-default" data-toggle="tab">
              <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            </a>
            <a href="#audienceTable" class="label label-default" data-toggle="tab">
              <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
            </a>
          <%= link_to 'New Audience', new_audience_path, class: "label label-default" %> 
        </span>
      </div>
      <div class="tab-content">
        <div id="audienceCards" class="tab-pane active">
          <%= render 'cards', audiences: @audiences %>
        </div>
        <div id="audienceTable" class="tab-pane">
          <%= render 'table', audiences: @audiences %>
        </div>
      </div>
    </div>
  </div>
</div>
      
