<div class="container">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        New Audience
      </div>
      <div class="panel-body">
        <%= render 'form', audience: @audience %>
      </div>
    </div>
  </div>
</div>
