<div class="col-sm-2">
  <div class="row">
    <div class="list-group-title">
      <span class="text-uppercase h5">Audiences</span>
      <span class="pull-right">
        <%= link_to 'New', new_audience_path, class: "label label-default" %> 
      </span>
    </div>
    <%= render 'list', audiences: Audience.all %>
  </div>
</div>

<div class="col-md-10">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading entity-heading">
        <span class="h1" style="margin-right:10px;"><%= @audience.name %></span>
          <%= link_to 'Edit', edit_audience_path(@audience), class: "label label-default" %> 
          <%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: "label label-default" %>
        <p> <%= @audience.description%> </p>
      </div>
      <div class="panel-body">
        <% @tasks = @audience.active_tasks %>
        <% @tasks_title = @audience.name + " Active Tasks" %>
        <%= render 'tasks/viewer' %>
      </div>
    </div>
  </div>
</div>
