<%= simple_form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :name, label: 'Name' %>
    <%= f.input :description, label: 'Description' %>
    <%= f.label "Start Date" %>
    <%= f.input :start_date, label: 'Start Date' %>
    <%= f.input :start_time, label: 'Start Time' %>
    <%= f.label "End Date" %>
    <%= f.input :end_date, label: 'End Date' %>
    <%= f.input :end_time, label: 'End Time' %>
    <p></p>
    <%= f.input :all_day %>
    <%= f.input :public %>
    <%= f.button :submit %>

<% end %>
