<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>All Day</th>
      <th>Start</th>
      <th>End</th>
      <th>Public</th>
    </tr>
  </thead>

  <tbody>
    <% events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event_path(event) %></td>
        <td><%= event.description %></td>
        <td><%= event.all_day ? "yes" : "no" %></td>
        <td><%= event.start_date_and_time %></td>
        <td><%= event.end_date_and_time %></td>
        <td><%= event.public ? "yes" : "no" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
