<div class="panel panel-default">
  <div class="panel-heading">
    <%= @events_title %>
    <span class="badge"><%= @events.count %> </span>
    <div style="float: right">
        <a href="#eventTable" class="label label-default" data-toggle="tab">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        </a>
        <a href="#eventCards" class="label label-default" data-toggle="tab">
          <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
        </a>
        <%= link_to new_event_path, class: "label label-default" do %>
          <span class="glyphicon glyphicon-plus"></span>
          New Event
        <% end %>
    </div>
  </div>
  <div class="tab-content">
    <div id="eventCards" class="tab-pane active">
      <%= render 'events/cards', events: @events %>
    </div>
    <div id="eventTable" class="tab-pane">
      <%= render 'events/table', events: @events %>
    </div>
  </div>
</div>
