<div class="col-sm-2">
  <div class="row">
    <div class="list-group">
      <%= link_to "Planned Events", planned_events_path, class: "list-group-item" %>
      <%= link_to "Unplanned Events", unplanned_events_path, class: "list-group-item" %>
      <%= link_to "Active Events", active_events_path, class: "list-group-item" %>
      <%= link_to "Past Events", past_events_path, class: "list-group-item" %>
      <%= link_to "All Events", events_path, class: "list-group-item" %>
    </div>
  </div>
</div>

<div class="col-md-10">
  <div class="row">
    <%= render 'viewer', events: @events, events_title: @events_title %>
  </div>
</div>
