<div class="col-sm-2">
  <div class="row">
    <div class="list-group-title">
      <span class="text-uppercase h5">Events</span>
      <span class="pull-right">
        <%= link_to 'New', new_event_path, class: "label label-default" %> 
      </span>
    </div>
    <%= render 'list', events: Event.all %>
  </div>
</div>

<div class="col-md-10">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading entity-heading">
        <span class="h1" style="margin-right:10px;"><%= @event.name %></span>
          <%= link_to 'Edit', edit_event_path(@event), class: "label label-default" %> 
          <%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: "label label-default" %>
          <div class="col-md-8 col-lg-10">
            <p></p>
            <table class="table table-condensed">
              <tr>
                <th>All Day</th>
                <th>Start</th>
                <th>End</th>
                <th>Public</th>
              </tr>
              <tr>
                <td><%= @event.all_day ? "yes" : "no" %></td>
                <td><%= @event.start_date_and_time %></td>
                <td><%= @event.end_date_and_time  %></td>
                <td><%= @event.public ? "yes" : "no" %></td>
              </tr>
            </table>
              <p> <%= @event.description %></p>
          </div>
      </div>
      <div class="panel-body">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#tasks" data-toggle="tab">Tasks</a></li>
          <li role="presentation"><a href="#contacts" data-toggle="tab">Contacts</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tasks">
            <div class="containter">
              <% @tasks = @event.tasks %>
              <% @tasks_title =  "Event Tasks" %>
              <%= render 'tasks/viewer' %>
            </div>
          </div>
          <div class="tab-pane" id="contacts">
            <div class="containter">
              <span class="h4">Contacts</span>
              <span style="float: right">
                <%= link_to "New Contact", new_event_contact_path, class: "label label-default" %>
              </span>
              <%= render 'event_contacts/table', event_contacts: EventContact.contacts_for_event(@event) %>
            </div>
          </div>


      </div>
    </div>
  </div>
</div>
