<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Public</th>
    </tr>
  </thead>

  <tbody>
    <% tags.each do |tag| %>
      <tr>
        <td><%= link_to tag.name, tag_path(tag) %></td>
        <td><%= tag.public %></td>
      </tr>
    <% end %>
  </tbody>
</table>
