<div class="container">
  <p></p>
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Editing Tag
      </div>
      <div class="panel-body">
        <%= render 'form', tag: @tag %>
        <%= link_to 'Cancel', tags_path %>
      </div>
    </div>
  </div>
</div>
