<div class="col-sm-2">
  <div class="row">
    <div class="list-group">
    </div>
  </div>
</div>

<div class="col-md-10">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        Tags
        <span class="badge"><%= @tags.count %> </span>
        <span style="float: right">
            <a href="#tagTable" class="label label-default" data-toggle="tab">
              <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            </a>
            <a href="#tagCard" class="label label-default" data-toggle="tab">
              <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
            </a>
          <%= link_to 'New Tag', new_tag_path, class: "label label-default" %> 
        </span>
      </div>
    </div>
      <div class="tab-content">
        <div id="tagCard" class="tab-pane active">
          <%= render 'cards', tags: @tags %>
        </div>
        <div id="tagTable" class="tab-pane">
          <%= render 'table', tags: @tags %>
        </div>
      </div>
  </div>
</div>
