<div class="col-sm-2">
  <div class="row">
    <div class="list-group-title">
      <span class="text-uppercase h5">Tags</span>
      <span class="pull-right">
        <%= link_to 'New', new_tag_path, class: "label label-default" %> 
      </span>
    </div>
    <%= render 'list', tags: Tag.all %>
  </div>
</div>

<div class="col-md-10">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading entity-heading">
        <span class="h1" style="margin-right:10px;"><%= @tag.name %></span>
          <%= link_to 'Edit', edit_tag_path(@tag), class: "label label-default" %> 
          <%= link_to 'Delete', @tag, method: :delete, data: { confirm: 'Are you sure?' }, class: "label label-default" %>
        <p> <%= @tag.public ? "Public" : "Private"%> </p>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>
