<div class="col-md-12 panel panel-default">
  <div class="panel-body">

<% events.each do |event| %>
  <div class="col-md-4">
    <div class="panel panel-default item-card">
      <div class="panel-heading">
        <span class="h4"><%= link_to event.name, event_path(event) %></span>
        <span class="pull-right small text-center">
          <span class="h2"><%= event.days_to_start %></span><br />
          days</span>
        <h6><%= event.start_date.strftime("%A, %h %d %Y") %></h6>
      </div>
      <div class="panel-body item-card-body">
        <%= event.description %>
      </div>
    </div>
  </div>
<% end %>

  </div>
</div>
