<%= simple_form_for(media_item) do |f| %>
  <% if media_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(media_item.errors.count, "error") %> prohibited this media_item from being saved:</h2>

      <ul>
      <% media_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :name %>
    <%= f.input :url %>
    <%= f.button :submit %>

<% end %>
