<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
    </tr>
  </thead>

  <tbody>
    <% media_items.each do |media_item| %>
      <tr>
        <td><%= link_to media_item.name, media_item_path(media_item) %></td>
        <td><%= media_item.url %></td>
      </tr>
    <% end %>
  </tbody>
</table>
