<div class="container">
  <p></p>
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Editing Media Item
      </div>
      <div class="panel-body">
        <%= render 'form', media_item: @media_item %>
        <%= link_to 'Cancel', media_items_path %>
      </div>
    </div>
  </div>
</div>
