<div class="col-sm-2">
  <div class="row">
    <div class="list-group">
    </div>
  </div>
</div>

<div class="col-md-10">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        Media Items
        <span class="badge"><%= @media_items.count %> </span>
        <span style="float: right">
            <a href="#mediaItemTable" class="label label-default" data-toggle="tab">
              <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            </a>
            <a href="#mediaItemCards" class="label label-default" data-toggle="tab">
              <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
            </a>
          <%= link_to 'New Media Item', new_media_item_path, class: "label label-default" %> 
        </span>
      </div>
      <div class="tab-content">
        <div id="mediaItemCards" class="tab-pane active">
          <%= render 'cards', media_items: @media_items %>
        </div>
        <div id="mediaItemTable" class="tab-pane">
          <%= render 'table', media_items: @media_items %>
        </div>
      </div>
    </div>
  </div>
</div>
