<div class="container">
  <p></p>
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        New Media Item
      </div>
      <div class="panel-body">
        <%= render 'form', media_item: @media_item %>
      </div>
    </div>
  </div>
</div>
