<div class="col-sm-2">
  <div class="row">
    <div class="list-group-title">
      <span class="text-uppercase h5">Media Items</span>
      <span class="pull-right">
        <%= link_to 'New', new_media_item_path, class: "label label-default" %> 
      </span>
    </div>
    <%= render 'list', media_items: MediaItems.all %>
  </div>
</div>

<div class="col-md-10">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading entity-heading">
        <span class="h1" style="margin-right:10px;"><%= @media_item.name %></span>
          <%= link_to 'Edit', edit_media_item_path(@media_item), class: "label label-default" %> 
          <%= link_to 'Delete', @media_item, method: :delete, data: { confirm: 'Are you sure?' }, class: "label label-default" %>
        <p> <%= @media_item.url%> </p>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>
