<div class="col-md-12 panel panel-default">
  <div class="panel-body">

<% destination_types.each do |destination_type| %>
  <div class="col-md-4">
    <div class="panel panel-default item-card">
      <div class="panel-heading">
        <span class="h4"><%= link_to destination_type.name, destination_type_path(destination_type) %></span>
        <span class="pull-right small text-center">
          <span class="h2"><%= destination_type.destinations.count %></span><br />
          <%= link_to "destinations", destination_type_destinations_path(destination_type: destination_type) %>
        </span>
      </div>
      <div class="panel-body item-card-body">
      </div>
    </div>
  </div>
<% end %>

  </div>
</div>
