<%= simple_form_for(destination_type) do |f| %>
  <% if destination_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(destination_type.errors.count, "error") %> prohibited this destination_type from being saved:</h2>

      <ul>
      <% destination_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :name %>
    <%= f.button :submit %>

<% end %>
