<div class="list-group">
  <% destination_types.each do |destination_type| %>
    <%= link_to destination_type.name, destination_type_path(destination_type), class: "list-group-item" %>
  <% end %>
</div>
