<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% destination_types.each do |destination_type| %>
      <tr>
        <td><%= link_to destination_type.name, destination_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>
