<div class="col-sm-2">
  <div class="row">
    <div class="list-group">
    </div>
  </div>
</div>

<div class="col-md-10">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        Destination Types
        <span class="badge"><%= @destination_types.count %> </span>
        <span style="float: right">
            <a href="#destinationTypeTable" class="label label-default" data-toggle="tab">
              <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            </a>
            <a href="#destinationTypeCards" class="label label-default" data-toggle="tab">
              <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
            </a>
          <%= link_to 'New Type', new_destination_type_path, class: "label label-default" %> 
        </span>
      </div>
      <div class="tab-content">
        <div id="desitnationTypeCards" class="tab-pane active">
          <%= render 'cards', destination_types: @destination_types %>
        </div>
        <div id="desitnationTypeTable" class="tab-pane">
          <%= render 'table', destination_types: @destination_types %>
        </div>
      </div>
    </div>
  </div>
</div>
