<div class="container">
  <p></p>
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        New Destination Type
      </div>
      <div class="panel-body">
        <%= render 'form', destination_type: @destination_type %>
      </div>
    </div>
  </div>
</div>
