<div class="col-sm-2">
  <div class="row">
    <div class="list-group-title">
      <span class="text-uppercase h5">Destination Types</span>
      <span class="pull-right">
        <%= link_to 'New', new_destination_type_path, class: "label label-default" %> 
      </span>
    </div>
    <%= render 'list', destination_types: DestinationType.all %>
  </div>
</div>

<div class="col-md-10">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading entity-heading">
        <span class="h1" style="margin-right:10px;"><%= @destination_type.name %></span>
          <%= link_to 'Edit', edit_destination_type_path(@destination_type), class: "label label-default" %> 
          <%= link_to 'Delete', @destination_type, method: :delete, data: { confirm: 'Are you sure?' }, class: "label label-default" %>
      </div>
      <div class="panel-body">
        <h5>Destinations</a>
        <%= render "destinations/table", destinations: @destination_type.destinations %>
      </div>
    </div>
  </div>
</div>
