<%= simple_form_for(event_contact) do |f| %>
  <% if event_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_contact.errors.count, "error") %> prohibited this event_contact from being saved:</h2>

      <ul>
      <% event_contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :role %>
    <%= f.association :event %>
    <%= f.association :person %>
    <%= f.button :submit %>
<% end %>
