<table class="table table-hover">
  <thead>
    <tr>
      <th>Role</th>
      <th>Event</th>
      <th>Person</th>
    </tr>
  </thead>

  <tbody>
    <% event_contacts.each do |event_contact| %>
      <tr>
        <td><%= link_to event_contact.role, event_contact_path(event_contact) %></td>
        <td><%= link_to event_contact.event.name, event_path(event_contact.event) %></td>
        <td><%= link_to event_contact.person.name, person_path(event_contact.person) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
