<div class="container">
  <p></p>
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Editing Event Contact
      </div>
      <div class="panel-body">
        <%= render 'form', event_contact: @event_contact %>
        <%= link_to 'Cancel', event_contacts_path %>
      </div>
    </div>
  </div>
</div>
