<div class="col-sm-2">
  <div class="row">
    <div class="list-group">
    </div>
  </div>
</div>

<div class="col-md-10">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        Event Contacts
        <span class="badge"><%= @event_contacts.count %> </span>
        <span style="float: right">
            <a href="#eventContactTable" class="label label-default" data-toggle="tab">
              <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            </a>
            <a href="#eventContactCards" class="label label-default" data-toggle="tab">
              <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
            </a>
          <%= link_to 'New Event Contact', new_event_contact_path, class: "label label-default" %> 
        </span>
      </div>
      <div class="tab-content">
        <div id="eventContactTable" class="tab-pane active">
          <%= render 'cards', event_contacts: @event_contacts %>
        </div>
        <div id="eventContactCards" class="tab-pane">
          <%= render 'table', event_contacts: @event_contacts %>
        </div>
      </div>
    </div>
  </div>
</div>
