<div class="col-sm-2">
  <div class="row">
    <div class="list-group-title">
      <span class="text-uppercase h5">Event Contacts</span>
      <span class="pull-right">
        <%= link_to 'New', new_event_contact_path, class: "label label-default" %> 
      </span>
    </div>
    <%= render 'list', event_contacts: EventContact.all %>
  </div>
</div>

<div class="col-md-10">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading entity-heading">
        <span class="h1" style="margin-right:10px;"><%= @event_contact.role %></span>
          <%= link_to 'Edit', edit_event_contact_path(@event_contact), class: "label label-default" %> 
          <%= link_to 'Delete', @event_contact, method: :delete, data: { confirm: 'Are you sure?' }, class: "label label-default" %>
        <p> <%= @event_contact.name %> </p>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>
