<div class="col-md-12 panel panel-default">
  <div class="panel-body">

<% destinations.each do |destination| %>
  <div class="col-md-4">
    <div class="panel panel-default item-card">
      <div class="panel-heading">
        <span class="h4"><%= link_to destination.name, destination_path(destination) %></span>
        <span class="pull-right small text-center">
          <span class="h2"><%= destination.active_tasks.count %></span><br />
          <%= link_to "tasks", destination_tasks_path(destination: destination) %>
        </span>
        <h6><%= destination.destination_type.name %></h6>
      </div>
      <div class="panel-body item-card-body">
        <%= destination.description %>
      </div>
    </div>
  </div>
<% end %>

  </div>
</div>
