<%= simple_form_for(destination) do |f| %>
  <% if destination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(destination.errors.count, "error") %> prohibited this destination from being saved:</h2>

      <ul>
      <% destination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :name %>
    <%= f.association :destination_type, as: :radio_buttons%>
    <%= f.input :description %>
    <%= f.button :submit %>

<% end %>
