<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% destinations.each do |destination| %>
      <tr>
        <td><%= link_to destination.name, destination %></td>
        <td><%= link_to destination.destination_type.name, destination_type_path(destination.destination_type) %></td>
        <td><%= destination.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
