<div class="container">
  <p></p>
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Editing Destination
      </div>
      <div class="panel-body">
        <%= render 'form', destination: @destination%>
        <%= link_to 'Cancel', destinations_path %>
      </div>
    </div>
  </div>
</div>
