<div class="col-sm-2">
  <div class="row">
    <div class="list-group">
      <%= link_to "Destination Types", destination_types_path, method: :get, class: "list-group-item" %>
    </div>
  </div>
</div>

<div class="col-md-10">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= @destinations_title %>
        <span class="badge"><%= @destinations.count %> </span>
        <span style="float: right">
            <a href="#destinationTable" class="label label-default" data-toggle="tab">
              <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            </a>
            <a href="#destinationCards" class="label label-default" data-toggle="tab">
              <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
            </a>
          <%= link_to 'New Destination', new_destination_path, class: "label label-default" %> 
        </span>
      </div>
      <div class="tab-content">
        <div id="destinationCards" class="tab-pane active">
          <%= render 'cards', destinations: @destinations %>
        </div>
        <div id="destinationTable" class="tab-pane">
          <%= render 'table', destinations: @destinations %>
        </div>
      </div>
    </div>
  </div>
</div>
