<div class="col-sm-2">
  <div class="row">
    <div class="list-group-title">
      <span class="text-uppercase h5">Destinations</span>
      <span class="pull-right">
        <%= link_to 'New', new_destination_path, class: "label label-default" %> 
      </span>
    </div>
    <%= render 'list', destinations: Destination.all %>
  </div>
</div>

<div class="col-md-10">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading entity-heading">
        <span class="h1" style="margin-right:10px;"><%= @destination.name %></span>
          <%= link_to 'Edit', edit_destination_path(@destination), class: "label label-default" %> 
          <%= link_to 'Delete', @destination, method: :delete, data: { confirm: 'Are you sure?' }, class: "label label-default" %>
        <p> <%= @destination.description%> </p>
      </div>
      <div class="panel-body">
        <% @tasks = @destination.active_tasks %>
        <% @tasks_title = @destination.name + " Tasks" %>
        <%= render 'tasks/viewer' %>
      </div>
    </div>
  </div>
</div>
