/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require bootstrap-datepicker
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-layout";

body {
  overflow: auto !important;
}

.simple-form
{
  z-index: 1000;
}

.list-group-title
{
  padding: 5px;
  border-bottom: 1px solid rgb(80, 80, 80);
}

.nav-tabs .badge
{
  margin-left: 10px;
}

.navbar-brand 
{
  border-right: 1px solid rgb(150, 150, 150);
}

.navbar-nav > li
{
  border-right: 1px solid rgb(150, 150, 150);
}

.navbar-brand > li > a:hover,
.navbar-brand > li > a:focus,
{
  background-color: rgb(220, 80, 80);
  color: rgb(255, 255, 255);
}

.navbar-default
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
{
  background-color: rgb(220, 80, 80);
  color: rgb(255, 255, 255);
}

.navbar-default
{
  margin-bottom: 0px;
  background-color: rgb(220, 220, 220);
  border-bottom: 1px solid rgb(220, 80, 80);
}

a:hover
{
  color: rgb(120, 120, 120);
}

a
{
  color: rgb(220, 80, 80);
}

.label-default
{
  background-color: rgb(220, 80, 80); /* #dc5050 */
}

.item-card > .panel-heading
{
  border-bottom: 1px solid rgb(220, 80, 80);
}

.panel-heading .label-default
{
  margin: 5px;
}

.panel-heading::before, .panel-heading::after
{
  content: " ";
  display: table;
  clear: both;
}

.panel .item-card 
{
  min-height: 250px;
  max-height: 250px;
}

.item-card::before, .item-card::after 
{
  content: " ";
  display: table;
  clear: both;
}

.panel-body .item-card-body
{
  overflow: hidden;
}


