<div class="navbar navbar-default navbar-static-top">
  <div class="navbar-brand">
    <span class="glyphicon glyphicon-envelope" style="float:left; margin-left: 10px; padding-top: 15px;" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-comment" style="float:left; margin-left: 10px; padding-top: 15px;" aria-hidden="true"></span>
    <%= link_to "Communications", root_path, class: "navbar-text"%>
  </div>
  <% if logged_in? %>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Events', active_events_path %></li>
      <li><%= link_to 'Tasks', active_tasks_path %></li>
      <li><%= link_to 'People', people_path %></li>
    </ul>
  <% else %>
    <ul class="nav navbar-nav navbar-right" style="margin-right:10px;">
      <li><%= link_to 'Log in', login_path %>
    </ul>
  <% end %>
  <% if logged_in? %>
    <ul class="nav navbar-nav navbar-right" style="margin-right:10px;">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <%= current_user.name %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to 'Profile', user_path(current_user) %>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <%= link_to 'Log out', logout_path, method: :delete %>
          </li>
        </ul>
      </li>
    </ul>
  <% end %>
</div>
